<p>
  At each molecular level, datasets are often defined by different identifiers. For instance, DNA level data are often defined by genomic coordinates whereas at the mRNA level often the data is quantified at individual transcript level. However to make molecular levels comparable for visualization in multiSLIDE, a relationship/linker variable can be defined. For example, in multiSLIDE 'Gene' can be considered a linker variable. The transcript level data can be summarized at gene level, also the genomic coordinates at the DNA level can be annotated to the nearest gene. This linker variable can also be used to define a relationship/association between omics not mappable to gene. 
</p>

<div class="apply_changes_div">
  <button (click)="onOKClick()">OK</button>
</div>
