# See http://help.github.com/ignore-files/ for more about ignoring files.

# System Files
.DS_Store
Thumbs.db
src/pyslide_project/.idea/workspace.xml
src/pyslide_project/.idea/pyslide_project.iml
src/pyslide_project/.idea/modules.xml
src/pyslide_project/.idea/misc.xml
src/pyslide_project/.idea/inspectionProfiles/profiles_settings.xml
src/pyslide_project/.idea/dictionaries/soumitaghosh.xml
src/pyslide_project/.idea/.name
src/pyslide_project/.idea/vcs.xml
src/pyslide_project/pyslide/.idea/inspectionProfiles/profiles_settings.xml
src/pyslide_project/pyslide/.idea/misc.xml
src/pyslide_project/pyslide/.idea/modules.xml
src/pyslide_project/pyslide/.idea/pyslide.iml
src/pyslide_project/pyslide/.idea/vcs.xml
src/msviz-engine/target/*
