<ng-container *ngIf="config && layout && lists && containerDisplayOn; else ready_state">
  <div style="position: absolute;top: 45px; left:300px; width: 800px; height:65px; border:1px solid rgb(226, 223, 223); padding: 1px;">

    <div class="map_container_controls">
      <label>Heatmap Cell Size </label><br>
      <svg width="110" height="40">
        <rect x="0" y="0" height="18" width="18" [ngClass]="{'map_resolution_rect': config.mapResolution!='XL', 'map_resolution_rect_selected': config.mapResolution=='XL'}"
          (click)="setMapResolution('XL')"></rect>
        <rect x="25" y="2" height="15" width="15" [ngClass]="{'map_resolution_rect': config.mapResolution!='L', 'map_resolution_rect_selected': config.mapResolution=='L'}"
          (click)="setMapResolution('L')"></rect>
        <rect x="48" y="4" height="12" width="12" [ngClass]="{'map_resolution_rect': config.mapResolution!='M', 'map_resolution_rect_selected': config.mapResolution=='M'}"
          (click)="setMapResolution('M')"></rect>
        <rect x="69" y="6" height="9" width="9" [ngClass]="{'map_resolution_rect': config.mapResolution!='S', 'map_resolution_rect_selected': config.mapResolution=='S'}"
          (click)="setMapResolution('S')"></rect>
        <rect x="89" y="8" height="6" width="6" [ngClass]="{'map_resolution_rect': config.mapResolution!='XS', 'map_resolution_rect_selected': config.mapResolution=='XS'}"
          (click)="setMapResolution('XS')"></rect>
      </svg>
    </div>

    <div class="map_container_controls">
      <label>Grid Layout</label> <br>
      <svg width="40" height="40" (click)="setGridLayout(2)">
        <rect x="2" y="2" height="10" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout<=0, 'grid_layout_rect_selected': config.gridLayout>0}"></rect>
        <rect x="16" y="2" height="10" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout<=0, 'grid_layout_rect_selected': config.gridLayout>0}"></rect>
        <rect x="16" y="16" height="10" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout<=0, 'grid_layout_rect_selected': config.gridLayout>0}"></rect>
        <rect x="2" y="16" height="10" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout<=0, 'grid_layout_rect_selected': config.gridLayout>0}"></rect>
      </svg>
      <svg width="40" height="40" (click)="setGridLayout(-1)">
        <rect x="2" y="2" height="24" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout!=-1, 'grid_layout_rect_selected': config.gridLayout==-1}"></rect>
        <rect x="16" y="2" height="24" width="10" [ngClass]="{'grid_layout_rect': config.gridLayout!=-1, 'grid_layout_rect_selected': config.gridLayout==-1}"></rect>
      </svg>
      <svg width="30" height="40" (click)="setGridLayout(-2)">
        <rect x="2" y="2" height="10" width="24" [ngClass]="{'grid_layout_rect': config.gridLayout!=-2, 'grid_layout_rect_selected': config.gridLayout==-2}"></rect>
        <rect x="2" y="16" height="10" width="24" [ngClass]="{'grid_layout_rect': config.gridLayout!=-2, 'grid_layout_rect_selected': config.gridLayout==-2}"></rect>
      </svg>
    </div>

    <div class="map_container_controls">
      <ng-container *ngIf="isRowsPerPageEditable; else staticRowsPerPage">
        <label for="nSamples">Rows / Page</label>&nbsp;
        <div class="value_div">
          <input type="text" name="nSamples" size="3" [(ngModel)]="config.rowsPerPage" [value]="config.rowsPerPage">
          &nbsp; <button class="save_button" (click)="toggleRowsPerPage(0)"></button>
        </div>
      </ng-container>
      <ng-template #staticRowsPerPage>
        <label for="nSamples">Rows / Page</label>&nbsp;
        <div class="value_div">
            &nbsp; {{config.rowsPerPage}} &nbsp; <button class="edit_button" (click)="toggleRowsPerPage(1)"></button>
        </div>
      </ng-template>
      <br>
      <ng-container *ngIf="isColsPerPageEditable; else staticColsPerPage">
        <label for="nEntrez">Columns / Page</label>&nbsp;
        <div class="value_div">
          <input type="text" name="nEntrez" size="3" [(ngModel)]="config.colsPerPage" [value]="config.colsPerPage">
          &nbsp; <button class="save_button" (click)="toggleColsPerPage(0)"></button>
        </div>
      </ng-container>
      <ng-template #staticColsPerPage>
        <label for="nEntrez">Columns / Page</label>&nbsp;
        <div class="value_div">
            &nbsp; {{config.colsPerPage}} &nbsp; <button class="edit_button" (click)="toggleColsPerPage(1)"></button>
        </div>
      </ng-template>
    </div>

    <div class="map_container_controls">
      <ng-container *ngIf="isRowLabelWidthEditable; else staticRowLabelWidth">
        <label for="rowLabelWidth">Row Label Width</label>&nbsp;
        <div class="value_div">
          <input type="text" name="rowLabelWidth" size="5" [(ngModel)]="config.rowLabelWidth" [value]="config.rowLabelWidth">
          &nbsp; <button class="save_button" (click)="toggleRowLabelWidth(0)"></button>
        </div>
      </ng-container>
      <ng-template #staticRowLabelWidth>
        <label for="rowLabelWidth">Row Label Width</label>&nbsp;
        <div class="value_div">
            &nbsp; {{config.rowLabelWidth}} &nbsp; <button class="edit_button" (click)="toggleRowLabelWidth(1)"></button>
        </div>
      </ng-template>

      <br>

      <ng-container *ngIf="isColHeaderHeightEditable; else staticColLabelWidth">
          <label for="colHeaderHeight">Column Header Height</label>&nbsp;
          <div class="value_div">
            <input type="text" name="colHeaderHeight" size="5" [(ngModel)]="config.colHeaderHeight" [value]="config.colHeaderHeight">
            &nbsp; <button class="save_button" (click)="toggleColHeaderHeight(0)"></button>
          </div>
        </ng-container>
        <ng-template #staticColLabelWidth>
          <label for="colHeaderHeight">Column Header Height</label>&nbsp;
          <div class="value_div">
              &nbsp; {{config.colHeaderHeight}} &nbsp; <button class="edit_button" (click)="toggleColHeaderHeight(1)"></button>
          </div>
        </ng-template>
      
    </div>
  </div>

  <div style="position: absolute;top: 45px; left:1110px; width: 580px; height:65px; border:1px solid rgb(226, 223, 223)">

    <div class="map_container_controls" style="margin-top: 18px;">
      <label>Scroll</label>&nbsp;
      <select>
        <option>One Item at a Time</option>
        <option>One Page at a Time</option>
      </select>
    </div>

    <div class="map_container_controls">
      <div style="float: left; height: 65px; position: relative; top: 22px;">
        <img src="assets/img/controller_left.png" height="20" width="20" alt="left" (click)="load_column_view(-1)" />
      </div>
      <div style="float: left; height: 65px; position: relative; top: 6px;">
        <img src="assets/img/controller_up.png" height="20" width="20" alt="up" (click)="load_row_view(-1)" /><br>
        <div style="height: 8px"></div>
        <img src="assets/img/controller_down.png" height="20" width="20" alt="down" (click)="load_row_view(1)" />
      </div>
      <div style="float: left; height: 65px; position: relative; top: 22px;">
        <img src="assets/img/controller_right.png" height="20" width="20" alt="right" (click)="load_column_view(1)" /><br>
      </div>
    </div>

    <div class="map_container_controls">
      <label>
        Showing Samples {{config.current_sample_start}} to {{config.current_sample_start+config.rowsPerPage}} of
        {{nTotalSamples}} <br>
        Showing Features {{config.current_feature_start}} to {{config.current_feature_start+config.colsPerPage}} of
        {{nTotalFeatures}}
      </label>
    </div>

  </div>

  <div style="position: absolute; top: 125px; left: 300px; border:1px solid black">
    <div *ngFor="let i of N" style="position: absolute; border:1px solid black" [style.top]="layout.map_tops[i] + 'px'"
      [style.left]="layout.map_lefts[i] + 'px'" [style.height]="layout.map_height + 'px'" [style.width]="layout.map_width + 'px'">
      <app-heatmap [analysis_name]="analysis_name" [nSamples]="config.rowsPerPage" [nEntrez]="config.colsPerPage"
        [datasetName]="layout.dataset_names[i]" [sampleStartIndex]="config.current_sample_start" [entrezStartIndex]="config.current_feature_start"
        [mapResolution]="config.mapResolution" [clinicalFilters]="clinicalFilters" [geneTags]="geneTags" [sortBy]="config.sortBy"
        [feature_list_names]="feature_list_names" [sample_list_names]="sample_list_names" 
        [load_count]="load_count"
        (onSortOrderChange)="childSortOrderChanged($event)"
        (onListChange)="childListChanged($event)">
      </app-heatmap>
    </div>
    <!--
      <div style="border:1px solid black; position: absolute; top: 0px; left: 0px; width: 950px; height: 850px">abc</div>
      <div style="border:1px solid black; position: absolute; top: 0px; left: 1050px; width: 950px; height: 850px">abc</div>
      <div style="border:1px solid black; position: absolute; top: 0px; left: 2100px; width: 950px; height: 850px">abc</div>
      <div style="border:1px solid black; position: absolute; top: 900.0px; left: 0px; width: 950px; height: 850px">abc</div>
      <div style="border:1px solid black; position: absolute; top: 900px; left: 1050px; width: 950px; height: 850px">abc</div>
      -->
  </div>

  <div style="position: absolute; top: 125px; width: 250px; border: 1px solid black;" [style.left]="300 + layout.legend_left_x + 'px'">
    <app-legends [analysis_name]="analysis_name"></app-legends>
  </div>

  <div style="position: absolute; top: 125px; width: 350px; border: 1px solid black;" [style.left]="565 + layout.legend_left_x + 'px'">
    <app-list-panel [analysis_name]="analysis_name" [lists]="lists" (onListChange)="childListChanged($event)"></app-list-panel>
  </div>
  
  <div class="mat-app-background basic-container" style="position: absolute; top: 0px; left: 1500px;">
    <app-context-menu>loading</app-context-menu>
  </div>

</ng-container>

<ng-template #ready_state>
  <div class="init_message">
    Use the left panel to select genes, phenotypes and datasets to visualize
  </div>
</ng-template>