<div class="container">

    <div class="main_content">

      <div class="left_panel">
        <div class="title_div">
        <div class="data_div">
          <!--<div style="font-family: cursive;">multi</div><div style="padding-top: 13px;padding-left: 9px;">SLIDE</div>-->
          <img src="assets/img/homepage_multislide_icon-01.png" alt="">
        </div>
        </div>
        <!--
        <div class="title_div">
          multiSLIDE
        </div>
        -->
        <div class="subtitle_div">
          &nbsp;&nbsp;Multi-omics Systems Level Interactive Data Exploration
        </div>
      </div>

      <div>
        <div class="buttons_panel">
          <div class="button_container">
            <div class="button_text_disp_panel">
              {{create_text}}
            </div>
            <div class="gapper">&nbsp;</div>
            <button type="button" (click)="show_tab('creater')" (mouseenter)="showButtonText(0)" (mouseleave)="hideButtonText(0)">Create</button>
          </div>

          <div class="divider"></div><br><br>

          <div class="button_container">
              <div class="button_text_disp_panel">
                {{load_text}}
              </div>
              <div class="gapper">&nbsp;</div>
              <button type="button" (click)="show_tab('loader')" (mouseenter)="showButtonText(1)" (mouseleave)="hideButtonText(1)">Load</button>
          </div>

          <div class="divider"></div><br><br>

          <div class="button_container">
              <div class="button_text_disp_panel">
                {{open_text}}
              </div>
              <div class="gapper">&nbsp;</div>
              <button type="button" (click)="show_tab('opener')" (mouseenter)="showButtonText(2)" (mouseleave)="hideButtonText(2)">Open</button>
          </div>
          
          <div class="divider"></div><br><br>

          <div class="button_container">
              <div class="button_text_disp_panel">
                {{demo_text}}
              </div>
              <div class="gapper">&nbsp;</div>
              <button type="button" [disabled]="buttonDisabled" (click)="show_tab('demo')" (mouseenter)="showButtonText(3)" (mouseleave)="hideButtonText(3)">Demo</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="form_container">
    <div class="form_content">
    <form #homepageForm='ngForm' name="homepageForm">
      
      <ng-container *ngIf="response">
        <div class="errorMsg" id="error_msg_table" *ngIf="response.status != 1">
          {{response.detailed_reason}}
        </div>
      </ng-container>
      
      <div id="create_table" *ngIf="createrTouched">
        <label for="analysis_name">Analysis Name</label><br>
        <input #new_analysis_name type="text" name="analysis_name" [(ngModel)]="analysis_name" required>
        <div class="divider"></div>
        <button type="button" class="highlight_button" (click)="handleCreate()">Create</button>
        <div class="errorMsg" *ngIf="submitTouched && analysis_name == null">
          Experiment name is required.
        </div>
      </div>
  
      <div id="load_table" *ngIf="loaderTouched">
        <label for="file_selector">Upload File</label><br>
        <input #fileInput type="file" id="file_selector" name="file_selector" (change)="handleFileInput($event.target.files)" required>
        <button type="button" class="highlight_button" (click)="handleUpload()">Upload</button>
        <div class="errorMsg" *ngIf="uploadTouched && mslideFileToUpload == null">
          &nbsp;.mslide File is required.
        </div>
      </div>
  
      <div id="open_table" *ngIf="openerTouched">
        <label for="active_analyses">Active Analyses</label><br>
        <table width="70%">
          <tr *ngFor="let analysis of analysis_names_ids; let i = index">
              <td class="demo_td" width="85%">
                {{analysis[0]}}<br>
              </td>
              <td class="demo_td" width="15%">
                <button type="button" class="highlight_button" (click)="loadAnalysis(analysis[1])">Open</button>
              </td>    
          </tr>
        </table>
      </div>

      <div id="demo_table" *ngIf="demoTouched">
        <table>
            <tr>
                <td class="demo_td" width="85%">
                  Unfolded Protein Response in Time-series mRNA and Protein data [1]<br>
                </td>
                <td class="demo_td" width="15%">
                  <button type="button" class="highlight_button" (click)="loadDemo(0)">Open</button>
                </td>    
            </tr>
            <tr>
                <td class="demo_td" width="80%">
                  Kinase-Substrate relationships in CPTAC Ovarian Cancer Data [2]
                </td>
                <td class="demo_td" width="20%">
                  <button type="button" class="highlight_button" (click)="loadDemo(1)">Open</button>
                </td>    
            </tr>
            <tr>
                <td class="demo_td" width="80%">
                  Exploring microRNA to Protein targets using TargetScan Map [3]
                </td>
                <td class="demo_td" width="20%">
                  <button type="button" class="highlight_button" (click)="loadDemo(2)">Open</button>
                </td>    
            </tr>
        </table>

      </div>
      
      <!--
    <nav>
      <a routerLink="/create_analysis" routerLinkActive="active">Create Analyses</a>
    </nav>
    <router-outlet></router-outlet>
    -->
  
    </form>
    </div>
    <br><br><br>
    <div>
      <div class="demo_paper_content" *ngIf="demoTouched">
        <table>
          <tr>
              <td class="demo_paper_name" width="100%">
                [1] Cheng, Zhe, et al. "Differential dynamics of the mammalian mRNA and protein expression response to misfolding stress." Molecular systems biology 12.1 (2016): 855.
              </td>
          </tr>
          <tr>
              <td class="demo_paper_name" width="100%">
                [2] Zhang, Hui, et al. "Integrated proteogenomic characterization of human high-grade serous ovarian cancer." Cell 166.3 (2016): 755-765.
              </td>
          </tr>
          <tr>
              <td class="demo_paper_name" width="100%">
                [3] Choi, Hyungwon, et al. "Plasma protein and microRNA biomarkers of insulin resistance: A network-based integrative-omics analysis." Frontiers in physiology 10 (2019): 379.
              </td>
          </tr>
        </table>
      </div>
    </div>
  </div>