<div style="position: absolute;top: 5px; left:300px; width: 1000px; height:35px">
  <div class="menu_item">Save
    <div class="sub_menu" style="left: 0px;">
      <div class="sub_menu_item">Save Visualizations</div>
      <div class="sub_menu_item">Save Workspace</div>
    </div>
  </div>
  <div class="menu_item">View
    <div class="sub_menu" style="left: 90px;">
      <div class="sub_menu_item">Show Cluster Labels</div>
      <!--<div class="sub_menu_item">Show Dendrogram</div>-->
      <!--<div class="sub_menu_item">Activity Log</div>-->
      <div class="sub_menu_item">Hide Selection Panel</div>
      <div class="sub_menu_item">Reset to Default Settings</div>
    </div>
  </div>
  <div class="menu_item">Create
    <div class="sub_menu" style="left: 185px">
      <div class="sub_menu_item" (click)="openCreateListDialog()">Feature List</div>      
      <!--<div class="sub_menu_item">Sub-Analysis</div>-->
    </div>
  </div>
  <div class="menu_item" (click)="openClusteringDialog()">Clustering</div>
  <div class="menu_item">Home</div>
  <div class="menu_item">Help
      <div class="sub_menu" style="left: 560px;">
        <div class="sub_menu_item">Go To Demo</div>
        <div class="sub_menu_item">Show Manual</div>
        <div class="sub_menu_item">About</div>
      </div>
  </div>
</div>