.list_panel {
    text-align:left;
    padding-right: 16px; 
    padding-top: 7px;
    background-color:rgb(255, 255, 255);
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
}

.list_panel_inner {
    height:500px;
    overflow:auto;
    text-align:left;
    padding-left: 10px;
    padding-right: 9px; 
    background-color:rgb(255, 255, 255);
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    display: none;
}

.list_panel_heading {
    width: 100%;
    font-size: 20px; 
	text-anchor: middle;
    font-family: Verdana;
    text-align: center;
    color: black;
}

.list_panel_group_heading {
    font-size: 12px; 
    font-family: Verdana;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    line-height: 20px;
}

.list_panel_group_heading:hover {
    color: rgb(231, 29, 3);
}

.list_entry:hover {
    color: black;
}

.minus_button {
    width: 18px;
    height: 18px;
    float: right;
    cursor: pointer;
    background-image: url('assets/img/minus512_green_filled.png');
    background-size: 18px 18px;
    padding-left: 10px;
    background-repeat: no-repeat;
}

.minus_button:hover {
    background-image: url('assets/img/minus512_orange_filled.png');
}

.download_button {
    width: 18px;
    height: 18px;
    float: right;
    cursor: pointer;
    background-image: url('assets/img/Download_Green.png');
    background-size: 18px 18px;
    padding-left: 10px;
    background-repeat: no-repeat;
}

.download_button:hover {
    background-image: url('assets/img/Download_Orange.png');
}