<ng-container *ngIf="config && layout && lists && containerDisplayOn; else ready_state">

  <!--Control Ribbon-->
  <ng-container *ngIf="isForPrint==0">
    <div class="control_ribbon" style="position: absolute; top: 45px; width: 125px;" [style.left]="control_ribbon_left + 'px'">
      <div class="map_container_controls_end">
        <div class="data_div">
        <div style="width: 80px;"><label> Datasets</label></div>
        <div>
          <button class="settings_button" (click)="openDatasetSelectionPanel(0)"></button>
        </div>
        </div>
        <div class="data_div">
        <div style="width: 80px;"><label> Phenotypes</label></div>
        <div>
        <button class="settings_button" (click)="openDatasetSelectionPanel(1)"></button>
      </div>
      </div>
      </div>
    </div>

    <div class="control_ribbon" style="position: absolute; top: 45px; width: 210px;"
      [style.left]="control_ribbon_left + 135 + 'px'">
      <div class="map_container_controls_end">
        <label for="syncViz">Synchronize Heatmap Features</label><br>Off&nbsp;
        <mat-slide-toggle class="" color="primary" [(ngModel)]="config.isDatasetLinkingOn" [disabled]=""
          (change)="toggleDatasetLinking()" ></mat-slide-toggle>&nbsp;
        <button class="settings_button" (click)="openDatasetLinkingPanel()"></button>
      </div>
    </div>

    <div class="control_ribbon" style="position: absolute; top: 45px; width: 600px;"
      [style.left]="control_ribbon_left + 135 + 220 + 'px'">

      <div class="map_container_controls">
        <label for="rowOrdering">Order Samples By</label><br>
        <div>
          <select name="rowOrdering" [ngModel]="config.sampleOrderingScheme"
            (ngModelChange)="setSampleOrderingScheme($event)">
            <option *ngFor="let sos of sample_ordering_schemes; let i = index" [value]="i"
              [attr.selected]="i == config.sampleOrderingScheme ? true : null">
              {{sos}}
            </option>
          </select>
          &nbsp;
          <button class="settings_button" (click)="openRowOrderingPanel()"></button>
        </div>
      </div>

      <div class="map_container_controls">
        <label for="colOrdering">Order Genes By</label><br>
        <div>
          <select name="colOrdering" [ngModel]="config.columnOrderingScheme"
            (ngModelChange)="setColumnOrderingScheme($event)">
            <option *ngFor="let cos of column_ordering_schemes; let i = index" [value]="i"
              [attr.selected]="i == config.columnOrderingScheme ? true : null">
              {{cos}}
            </option>
          </select>
          &nbsp;
          <button class="settings_button" (click)="openColOrderingPanel()"></button>
        </div>
      </div>

      <div class="map_container_controls_end">
        <label for="geneFiltering">Show Only Significant Genes</label><br>Off&nbsp;
        <mat-slide-toggle class="" color="primary" [(ngModel)]="config.isGeneFilteringOn" [disabled]=""
          (change)="toggleGeneFiltering()"></mat-slide-toggle>&nbsp;
        <button class="settings_button" (click)="openSignificanceTestingPanel()"></button>
      </div>

    </div>

    <div class="control_ribbon" style="position: absolute; top: 45px; width: 510px"
      [style.left]="control_ribbon_left + 135 + 220 + 610 + 'px'">
      <div class="map_container_controls">
        <label>Display Genes Along</label><br>
        <mat-radio-group class="align-radio-group">
          <mat-radio-button value="0" class="align-radio-buttonx" color="primary" [checked]="config.mapOrientation == 0 ? true : null" (change)="setMapOrientation(0)">X-axis</mat-radio-button>
          <mat-radio-button value="1" class="align-radio-button" color="primary" [checked]="config.mapOrientation == 1 ? true : null" (change)="setMapOrientation(1)">Y-axis</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="map_container_controls">
        <label>Cell Size </label><br>
        <svg width="90" height="20">
          <rect x="0" y="0" height="18" width="18"
            [ngClass]="{'map_resolution_rect': config.mapResolution!='XL', 'map_resolution_rect_selected': config.mapResolution=='XL'}"
            (click)="setMapResolution('XL')"></rect>
          <rect x="25" y="2" height="15" width="15"
            [ngClass]="{'map_resolution_rect': config.mapResolution!='L', 'map_resolution_rect_selected': config.mapResolution=='L'}"
            (click)="setMapResolution('L')"></rect>
          <rect x="46" y="4" height="12" width="12"
            [ngClass]="{'map_resolution_rect': config.mapResolution!='M', 'map_resolution_rect_selected': config.mapResolution=='M'}"
            (click)="setMapResolution('M')"></rect>
          <rect x="63" y="6" height="9" width="9"
            [ngClass]="{'map_resolution_rect': config.mapResolution!='S', 'map_resolution_rect_selected': config.mapResolution=='S'}"
            (click)="setMapResolution('S')"></rect>
          <rect x="78" y="8" height="6" width="6"
            [ngClass]="{'map_resolution_rect': config.mapResolution!='XS', 'map_resolution_rect_selected': config.mapResolution=='XS'}"
            (click)="setMapResolution('XS')"></rect>
        </svg>
      </div>

      <div class="map_container_controls_end">
        <ng-container *ngIf="isRowLabelWidthEditable; else staticRowLabelWidth">
          <label for="rowLabelWidth">Sample Label Width</label>&nbsp;
          <div class="value_div">
            <input type="text" name="rowLabelWidth" size="5" [(ngModel)]="config.rowLabelWidth"
              [value]="config.rowLabelWidth">
            &nbsp; <button class="save_button" (click)="toggleRowLabelWidth(0)"></button>
          </div>
        </ng-container>
        <ng-template #staticRowLabelWidth>
          <label for="rowLabelWidth">Sample Label Width</label>&nbsp;
          <div class="value_div">
            &nbsp; {{config.rowLabelWidth}} &nbsp; <button class="edit_button"
              (click)="toggleRowLabelWidth(1)"></button>
          </div>
        </ng-template>

        <br>

        <ng-container *ngIf="isColHeaderHeightEditable; else staticColLabelWidth">
          <label for="colHeaderHeight">Gene Label Width</label>&nbsp;
          <div class="value_div">
            <input type="text" name="colHeaderHeight" size="5" [(ngModel)]="config.colHeaderHeight"
              [value]="config.colHeaderHeight">
            &nbsp; <button class="save_button" (click)="toggleColHeaderHeight(0)"></button>
          </div>
        </ng-container>
        <ng-template #staticColLabelWidth>
          <label for="colHeaderHeight">Gene Label Width</label>&nbsp;
          <div class="value_div">
            &nbsp; {{config.colHeaderHeight}} &nbsp; <button class="edit_button"
              (click)="toggleColHeaderHeight(1)"></button>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="control_ribbon" style="position: absolute; top: 45px; width: 210px" [style.left]="control_ribbon_left + 135 + 220 + 610 + 520 + 'px'" >
      <div class="map_container_controls_end">
        <label for="showClusterLabels">Show Cluster Labels</label>&nbsp;
        <mat-slide-toggle class="" color="primary" [(ngModel)]="config.isShowClusterLabelsOn" [disabled]="config.columnOrderingScheme!=1"
          (change)="toggleShowClusterLabels()" ></mat-slide-toggle>
      </div>
    </div>

  </ng-container>
  <!--Control Ribbon-->

  <!--Heatmaps and Linkages-->
  <div style="position: absolute; border:0px solid black" [style.left]="'10px'" [style.top]="(1-isForPrint)*125 + 'px'">

    <!--Heatmaps-->
    <div *ngFor="let i of N" style="position: absolute; border:0px solid black" [style.top]="layout.map_tops[i] + 'px'"
      [style.left]="heatmap_panel_left + layout.map_lefts[i] + 'px'" [style.height]="layout.map_heights[i] + 'px'"
      [style.width]="layout.map_widths[i] + 'px'">
      <app-heatmap [analysis_name]="analysis_name" [global_data]="common_heatmap_data"
        [datasetName]="layout.dataset_names[i]" [mapResolution]="config.mapResolution"
        [clinicalFilters]="clinicalFilters" [geneTags]="geneTags" [sortBy]="config.sortBy"
        [feature_list_names]="feature_list_names" [sample_list_names]="sample_list_names" 
        [load_count]="load_count" [load_layout_count]="load_layout_count" [isTransposed]="config.mapOrientation" [isForPrint]="isForPrint"
        (onSortOrderChange)="childSortOrderChanged($event)" (onNeighborsChange)="neighborsChanged($event)"
        (onListChange)="childListChanged($event)">
      </app-heatmap>
    </div>
    <!--Heatmaps-->

    <!--Linkages-->
    <div *ngFor="let i of N_minus_one" style="position: absolute; border:0px solid black" [style.top]="layout.map_links_tops[i] + 'px'"
      [style.left]="heatmap_panel_left + layout.map_links_lefts[i] + 'px'" [style.height]="layout.map_links_heights[i] + 'px'"
      [style.width]="layout.map_links_widths[i] + 'px'">
      <app-map-links [analysis_name]="analysis_name"
        [datase_name_1]="layout.dataset_names[i]" [datase_name_2]="layout.dataset_names[i+1]" 
        [height]="layout.map_links_heights[i]" [width]="layout.map_links_widths[i]"
        [load_count]="load_count" [load_layout_count]="load_layout_count" [isTransposed]="config.mapOrientation">
      </app-map-links>
    </div>
    <!--Linkages-->

  </div>
  <!--Heatmaps and Linkages-->
  
  <!--Legends Panel-->
  <div style="position: absolute; width: 250px; border: 1px solid rgb(128, 128, 128);"
    [style.left]="heatmap_panel_left + layout.legend_left_x + 'px'" [style.top]="180-(isForPrint*100) + 'px'">
    <app-legends [analysis_name]="analysis_name" [load_count]="load_count"></app-legends>
  </div>
  <!--Legends Panel-->

</ng-container>

<ng-template #ready_state>
  <div class="init_message">
    Use the left panel to select genes, phenotypes and datasets to visualize
  </div>
</ng-template>