<ng-container *ngIf="previewTouched">
    <ng-container *ngIf="preview"> 
        <div *ngIf="preview.response.status == 1;else msg">
            <div class="preview_table_container">
            <table>
                <tr *ngFor="let rows of preview.data">
                    <td *ngFor="let col of rows">{{col}}</td>
                </tr>
            </table>
            </div>
        </div>
        <ng-template #msg>
            <div class="errorMsg">
                {{preview.response.detailed_reason}}
            </div>
        </ng-template>
    </ng-container>
</ng-container>