<div class="legend_heading">Legends</div>
<div *ngFor="let legendgroup of data" class="legend">
    <label class="legend_group_heading">{{legendgroup.title}}</label><br>
    <div *ngFor="let names of legendgroup.legend_names; let i = index" class="legend_inner">
        <svg width=15 height=15 style="position: relative; top: 2px">
            <rect x="0px" y="0px" width="15px" height="15px" [style.fill]="'rgb(' + legendgroup.colors[i][0] + ',' + legendgroup.colors[i][1] + ',' + legendgroup.colors[i][2] + ')'"></rect>
        </svg>
        {{names}}
    </div>
</div>