<form #searchForm='ngForm' name="searchForm">
    <div class="wrapper" style="text-align: center; height: 30px; margin: 10px;">
      <button class="addbutton" type="button" (click)="toggleSearchPanel()">
        <div style="font-size: 18px;">
          <b>+</b>
        </div>&nbsp; {{search_panel_handler_text}}
      </button>
    </div>
    <div class="search_container">
      <div *ngFor="let result of selected_searches" id="datasets_div" class="select_block" [matTooltip]="'Genes in [' + dataset_names + ']: [' + result.intersection_counts_per_dataset + ']'" >
        {{result.display_tag}} [{{result.background_count}}, {{result.intersection_count}}]
        <div class="minus_button" (click)="removeSearchResult(result)"></div>
      </div>
    </div>
    <div [ngClass]="{'search_panel_open': search_panel_open, 'search_panel_closed': !search_panel_open}">
  
      <div class="search_text_container">
          <div style="position: relative;">
            <input type="text" #query name="searchText" [(ngModel)]="searchText" size="42"
              placeholder="Search genes, pathways, GO terms or labels"
              matTooltip="Use 'pathway:immune response' to specifically search for all pathway names containing the string 'immune response'; Use 'gene:' and 'go:' to search specifically for genes and GO terms similarly. You can also simultaneously search multiple comma separated terms, for example, 'gene:cdk1,pten, go:response to virus'"
              (keyup.enter)="doSearch(query.value)" />
            <button type="submit" class="search_button" (click)="doSearch(query.value)" ></button>
            <br>
            <label>OR</label>
            <br>
            <button class="find_button" type="submit" class="do_enrichment_button" (click)="openEnrichmentDialog()">Find</button>
            Enriched Pathways or GO terms in your datasets
          </div>
      </div>
  
      <div class="search_results_container">
        <div *ngFor="let result_group of data; let g = index">
          {{result_group.query}}
          <div *ngFor="let result of result_group.search_result_summaries; let i = index" class="search_result_tr">
            <div (click)="toggleResult(i)"
              [ngClass]="{'search_result_td_selected': results_selection_ind[g][i], 'search_result_td': !results_selection_ind[g][i]}"
              [matTooltip]="'Genes in [' + dataset_names + ']: [' + result.intersection_counts_per_dataset + ']'" >
              {{result.html_display_tag_pre}}<b>{{result.html_display_tag_mid}}</b>{{result.html_display_tag_post}}
            </div>
            <div>
              <div *ngIf="results_selection_ind[g][i];then add else remove"></div>
              <ng-template #add>
                <div class="minus_button" (click)="toggleResult(g,i)"></div>
              </ng-template>
              <ng-template #remove>
                <div class="plus_button" (click)="toggleResult(g,i)"></div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
  
      <!--
          <div style="position: relative; top: 20px; left: 0px; width: 280px; height: 450px; overflow-y: scroll;">
            <table width="100%" style="border-spacing: 0px">
              <ng-container *ngFor="let result_group of data; let g = index">
                <tr *ngFor="let result of result_group; let i = index" class="search_result_tr">
                  <td (click)="toggleResult(i)" [ngClass]="{'search_result_td_selected': results_selection_ind[g][i], 'search_result_td': !results_selection_ind[g][i]}">
                    {{result.group_name}} ({{result.count}})
                  </td>
                  <td>
                    <div *ngIf="results_selection_ind[g][i];then add else remove"></div>    
                      <ng-template #add>
                        <div class="minus_button" (click)="toggleResult(g,i)"></div>
                      </ng-template>
                      <ng-template #remove>
                        <div class="plus_button" (click)="toggleResult(g,i)"></div>
                      </ng-template>
                    
                      <div class="search_result_add">
                        <button type="button" (click)="addResult(i)">+</button>
                      </div>
                    
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        -->
  
      <div style="text-align: center; height: 70px; margin-top: 40px;">
        <button type="button" class="close_button" (click)="toggleSearchPanel()">close</button>
      </div>
  
    </div>
  
  
    <!--
    
    -->
  
  </form>