<ng-container *ngIf="featureListName; else showingDefault">
  <div class="big_container">
    <div class="feature_list_message_block">
      Showing User Created Feature List: <br> {{featureListName}}
    </div>
    <div class="close_list_button_block">
      <button type="button" [disabled]="closeButtonDisabled" class="apply_changes_button" (click)="closeList()">
        Close List
      </button>
    </div>
  </div>
</ng-container>

<ng-template #showingDefault>
<ng-container *ngIf="data && state; else loading">

<div class="big_container">
    <form #selectionForm='ngForm' name="selectionForm">
  
      <div [ngClass]="{'select_item': !showDatasets, 'select_item_open': showDatasets}" (click)="showPanel(0)">
        <div *ngIf="hasChanged_Datasets" class="mark_change"></div>
        Datasets*
      </div>
  
      <div *ngIf="showDatasets" class="each_sub_container">
        <div class="sub_container_selector">
          <label for="selectedDataset"></label>
          <select name="selectedDataset" [(ngModel)]="selectedDataset">
            <ng-container *ngIf="data">
              <option *ngFor="let dname of data.dataset_names" [value]="dname">{{dname}}</option>
            </ng-container>
          </select>
          <button type="button" (click)="addDataset()">Add</button>
        </div>
  
        <div class="container_block" style="position: relative; top: 10px; left: 5px; width: 268px; height: 150px;">
          <div *ngFor="let dataset of selected_datasets_new" id="datasets_div" class="select_block2">
            {{dataset}}
            <div class="minus_button" (click)="removeDataset(dataset)"></div>
          </div>
        </div>
      </div>
  
      <div [ngClass]="{'select_item': !showSearch, 'select_item_open': showSearch}" (click)="showPanel(2)">
        <div *ngIf="hasChanged_Genes" class="mark_change"></div>  
        Genes*
      </div>
      <div *ngIf="showSearch" style="position: relative; top: 5px; left: 0px; width: 280px; height: 210px">
        <app-search-panel [analysis_name]="analysis_name"
          [dataset_names]="data.dataset_names"
          (notifySearchResultAdded)="addSearchResult($event)"
          (notifySearchResultRemoved)="removeSearchResult($event)"
          [(selected_searches)]="selected_searches_new">
        </app-search-panel>
      </div>
  
      <div [ngClass]="{'select_item': !showPhenotypes, 'select_item_open': showPhenotypes}" (click)="showPanel(1)">
        <div *ngIf="hasChanged_Phenotypes" class="mark_change"></div>
        Phenotypes
      </div>
      <div *ngIf="showPhenotypes" class="each_sub_container">
        <div class="sub_container_selector">
          <label for="selectedPhenotype"></label>
          <select name="selectedPhenotype" [(ngModel)]="selectedPhenotype">
            <ng-container *ngIf="data">
              <option *ngFor="let phenotype of data.phenotypes" [value]="phenotype">{{phenotype}}</option>
            </ng-container>
          </select>
          <button type="button" (click)="addPhenotype()">Add</button>
        </div>
  
        <div class="container_block" style="position: relative; top: 10px; left: 5px; width: 268px; height: 150px">
          <div *ngFor="let phenotype of selected_phenotypes_new" id="phenotypes_div" class="select_block2">
            <div class="select_block2_text" [matTooltip]="phenotype">{{phenotype}}</div>
            <div class="minus_button" (click)="removePhenotype(phenotype)"></div>
          </div>
        </div>
      </div>
      
    </form>
  
    <!--
    <div [ngClass]="{'select_item': !showNeighborhood, 'select_item_open': showNeighborhood}" (click)="showPanel(3)">
      <div *ngIf="hasChanged_Network" class="mark_change"></div>  
      Network Neighborhood
    </div>
    <div *ngIf="showNeighborhood" style="position: relative; top: 5px; left: 0px; width: 280px; height: 700px">
        <app-network-neighborhood></app-network-neighborhood>
    </div>
    -->
  
    <!--<div [ngClass]="{'select_item': !showClustering, 'select_item_open': showClustering}" (click)="showPanel(4)">
      <div *ngIf="hasChanged_Clustering" class="mark_change"></div>
      Clustering
    </div>
    <div *ngIf="showClustering" style="position: relative; top: 5px; left: 0px; width: 280px; height: 700px">
      <app-hierarchical-clustering [dataset_names]="data.dataset_names">
      </app-hierarchical-clustering>  
    </div>
    -->
  
    <div style="height: 10px"></div>
    <div class="apply_changes_div">
      <p class="msg">* indicates required field</p>
      <button type="button" [disabled]="buttonDisabled" class="apply_changes_button" (click)="applyChanges()">Apply Changes</button>
      <br>
      <br>
      <br>
    </div>
  
  </div>
</ng-container>

<ng-template #loading>Loading...</ng-template>

</ng-template>