<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>install-path</param-name>
        <param-value>code_multislide_03_Nov_2018\multiSLIDE</param-value>
    </context-param>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j_config.xml</param-value>
    </context-param>
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>org.cssblab.multislide.filters.CORSFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HitCountFilter</filter-name>
        <filter-class>org.cssblab.multislide.filters.HitCountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HitCountFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>JSONParser</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.JSONParser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiSlideContextListener</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.MultiSlideContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUploader</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.DataUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAnalysis</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.CreateAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataRemover</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.DataRemover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.CreateSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSession</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.CreateSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistogram</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.GetHistogram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHeatmap</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.GetHeatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSearch</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.DoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDemo</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.LoadDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysisReInitializer</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.AnalysisReInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPhenotypes</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.GetPhenotypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoNeighborhoodSearch</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.DoNeighborhoodSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFigureLegends</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.GetFigureLegends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeatureListServices</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.FeatureListServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMetadataColumns</servlet-name>
        <servlet-class>org.cssblab.multislide.resources.SetMetadataColumns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONParser</servlet-name>
        <url-pattern>/JSONParser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiSlideContextListener</servlet-name>
        <url-pattern>/MultiSlideContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUploader</servlet-name>
        <url-pattern>/DataUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAnalysis</servlet-name>
        <url-pattern>/CreateAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataRemover</servlet-name>
        <url-pattern>/DataRemover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSession</servlet-name>
        <url-pattern>/CreateSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistogram</servlet-name>
        <url-pattern>/GetHistogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHeatmap</servlet-name>
        <url-pattern>/GetHeatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSearch</servlet-name>
        <url-pattern>/DoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDemo</servlet-name>
        <url-pattern>/LoadDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisReInitializer</servlet-name>
        <url-pattern>/AnalysisReInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPhenotypes</servlet-name>
        <url-pattern>/GetPhenotypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoNeighborhoodSearch</servlet-name>
        <url-pattern>/DoNeighborhoodSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFigureLegends</servlet-name>
        <url-pattern>/GetFigureLegends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeatureListServices</servlet-name>
        <url-pattern>/FeatureListServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMetadataColumns</servlet-name>
        <url-pattern>/SetMetadataColumns</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
