<div class="hc_title">Hierarchical Clustering Parameters Selection</div>
<!--<div style="position: relative; top: 5px; left: 10px; width: 268px; height: 30px; ">-->
  <div class="hc_module_controls" >
  <div>
    <label for="selectedDataset">Dataset</label><br>
    <select name="selectedDataset" [(ngModel)]="selectedDataset">
      <ng-container *ngIf="dataset_names">
        <option *ngFor="let dname of dataset_names" [value]="dname">{{dname}}</option>
      </ng-container>
    </select>
  </div>
  <div>
    <label for="rowClustering">
    <input type="checkbox" name="rowClustering" (click)='toggleRowClustering()' />Row Clustering</label>
    </div> 
  <div *ngIf="toggleRow">
  <div style="position: relative; top: 15px; left: 10px; height: 80px;">
    <label> 
      <input type="radio" name="radioRow" value="defaultRow" (click)='showDefaultRowClusteringParams()' checked />Use Default Parameters</label><br>
      <label>
      <input type="radio" name="radioRow" value="specifyRow" (click)='specifyRowClusteringParams()' />Specify</label>
  </div>
  </div>
  
  <div *ngIf="showDefaultRowClustParams">
    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowLinkage">Linkage Function</label><br>
      <select name="selectedRowLinkage" disabled>
        <option value="rowAverage" selected>Average</option>
        <option value="rowComplete">Complete</option>
        <option value="rowMedian">Median</option>
        <option value="rowCentroid">Centroid</option>
        <option value="rowWard">Ward</option>
        <option value="rowWeighted">Weighted</option>
      </select>
    </div>
  
    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowDistFunc">Distance Function</label><br>
      <select name="selectedRowDistFunc" disabled>
        <option value="rowEuclidean" selected>Euclidean</option>
        <option value="rowManhattan">Manhattan</option>
        <option value="rowCosine">Cosine</option>
        <option value="rowCorrelation">Correlation</option>
        <option value="rowChebyshev">Chebyshev</option>
      </select>
    </div>
  
    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowLeafOrder">Leaf Ordering</label><br>
      <select name="selectedRowLeafOrder" disabled>
        <option value="rowSmallChildFirst" selected>Smallest Child First</option>
        <option value="rowLargeChildFirst">Largest Child First</option>
        <option value="rowMostDiverse">Most Diverse Child First</option>
        <option value="rowLeastDiverse">Least Diverse Child First</option>
      </select>
    </div>
    <br>
    <br>
  </div>

  

  <div *ngIf="showRowClustParams">
    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowLinkage">Linkage Function</label><br>
      <select name="selectedRowLinkage">
        <option value="rowAverage" selected>Average</option>
        <option value="rowComplete">Complete</option>
        <option value="rowMedian">Median</option>
        <option value="rowCentroid">Centroid</option>
        <option value="rowWard">Ward</option>
        <option value="rowWeighted">Weighted</option>
      </select>
    </div>

    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowDistFunc">Distance Function</label><br>
      <select name="selectedRowDistFunc">
        <option value="rowEuclidean" selected>Euclidean</option>
        <option value="rowManhattan">Manhattan</option>
        <option value="rowCosine">Cosine</option>
        <option value="rowCorrelation">Correlation</option>
        <option value="rowChebyshev">Chebyshev</option>        
      </select>
    </div>

    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
      <label for="selectedRowLeafOrder">Leaf Ordering</label><br>
      <select name="selectedRowLeafOrder">
        <option value="rowSmallChildFirst" selected>Smallest Child First</option>
        <option value="rowLargeChildFirst">Largest Child First</option>
        <option value="rowMostDiverse">Most Diverse Child First</option>
        <option value="rowLeastDiverse">Least Diverse Child First</option>               
      </select>
    </div>
    <br>
    <br>
    </div>
    


    <label for="columnClustering">
      <input type="checkbox" name="columnClustering" (click)='toggleColClustering()' />Column Clustering</label>
 
    <div *ngIf="toggleCol">
    <div style="position: relative; top: 15px; left: 10px; height: 80px;">
        <label>
          <input type="radio" name="radioCol" value="defaultCol" (click)='showDefaultColClusteringParams()' checked />Use Default Parameters</label><br>
        <label>
          <input type="radio" name="radioCol" value="specifyCol" (click)='specifyColClusteringParams()' />Specify</label>
    </div>
    <div *ngIf="showDefaultColClustParams">
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedColLinkage">Linkage Function</label><br>
          <select name="selectedColLinkage" disabled>
            <option value="colAverage" selected>Average</option>
            <option value="colComplete">Complete</option>
            <option value="colMedian">Median</option>
            <option value="colCentroid">Centroid</option>
            <option value="colWard">Ward</option>
            <option value="colWeighted">Weighted</option>
          </select>
        </div>
      
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedColDistFunc">Distance Function</label><br>
          <select name="selectedColDistFunc" disabled>
            <option value="colEuclidean" selected>Euclidean</option>
            <option value="colManhattan">Manhattan</option>
            <option value="colCosine">Cosine</option>
            <option value="colCorrelation">Correlation</option>
            <option value="colChebyshev">Chebyshev</option>
          </select>
        </div>
      
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedColLeafOrder">Leaf Ordering</label><br>
          <select name="selectedColLeafOrder" disabled>
            <option value="colSmallChildFirst" selected>Smallest Child First</option>
            <option value="colLargeChildFirst">Largest Child First</option>
            <option value="colMostDiverse">Most Diverse Child First</option>
            <option value="colLeastDiverse">Least Diverse Child First</option>
          </select>
        </div>
        <br>
        <br>
      </div>
    
      
    
      <div *ngIf="showColClustParams">
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedRowLinkage">Linkage Function</label><br>
          <select name="selectedRowLinkage">
            <option value="colAverage" selected>Average</option>
            <option value="colComplete">Complete</option>
            <option value="colMedian">Median</option>
            <option value="colCentroid">Centroid</option>
            <option value="colWard">Ward</option>
            <option value="colWeighted">Weighted</option>
          </select>
        </div>
    
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedRowDistFunc">Distance Function</label><br>
          <select name="selectedRowDistFunc">
            <option value="colEuclidean" selected>Euclidean</option>
            <option value="colManhattan">Manhattan</option>
            <option value="colCosine">Cosine</option>
            <option value="colCorrelation">Correlation</option>
            <option value="colChebyshev">Chebyshev</option>        
          </select>
        </div>
    
        <div style="position: relative; top: 15px; left: 10px; height: 80px;">
          <label for="selectedColLeafOrder">Leaf Ordering</label><br>
          <select name="selectedColLeafOrder">
            <option value="colSmallChildFirst" selected>Smallest Child First</option>
            <option value="colLargeChildFirst">Largest Child First</option>
            <option value="colMostDiverse">Most Diverse Child First</option>
            <option value="colLeastDiverse">Least Diverse Child First</option>               
          </select>
        </div>
        <br>
        <br>
        </div>
        
      </div>
    <!--</div>-->
    <!--<div style="position: relative; top: 40px;">-->
    <div class="apply_changes_div">
      <button type="button" (click)="saveChanges()">Save Changes</button>
    </div><br><br><br>
    <!--</div>-->
  </div>
