<div class="container">

  <form #createAnalysisForm='ngForm' name="createAnalysisForm">

    <div class="left_panel">

      <div class="species_container">
        <div class="species_text">
          1. Provide Species for Analysis '{{analysis_name}}'
        </div>

        <div class="species_input">
          <label for="selectedSpecies">Species Type</label><br>
          <select name="selectedSpecies" [(ngModel)]="selectedSpecies" required>
            <option *ngFor="let species of allowedSpeciesTypes; let i = index" [value]="allowedSpeciesValues[i]">{{species}}</option>
          </select>
        </div>
        <div class="species_err_msg_panel">
          <div class="errorMsg" *ngIf="createTouched && (selectedSpecies == '' || selectedSpecies == null)">
            Please select species type.
          </div>
        </div>
      </div>

      <div class="clinical_container">
        <div class="clinical_text">
          2. Please Upload a Single Clinical Information File for the Experiment
        </div>

        <div class="clinical_input">
          <label for="file">Upload Clinical Information File</label>
          <input #fileInput type="file" id="file_selector" name="file_selector"
            (change)="handleFileInput($event.target.files)" required>
          <div class="errorMsg" *ngIf="submitTouched && clinicalfileToUpload == null">
            File is required.
          </div>

          <br>
          <br>

          <label for="selectedClinicalDelimiter">Clinical Information File Delimiter</label><br>
          <select name="selectedClinicalDelimiter" [(ngModel)]="selectedClinicalDelimiter" required>
            <option *ngFor="let delim of allowedClinicalDelimiters" [value]="delim">{{delim}}</option>
          </select>
          <div class="errorMsg"
            *ngIf="submitTouched && (selectedClinicalDelimiter == '' || selectedClinicalDelimiter == null)">
            Please select a delimiter.
          </div>


          <div class="divider"></div><br>
          <button type="button" class="highlight_button" (click)="uploadClinicalFile()">Upload</button>
        </div>


        <div class="clinical_err_msg_panel">
          <div class="serverMsg" *ngIf="serverResponseOnClinicalUpload">
            {{serverResponseOnClinicalUpload.detailed_reason}}
          </div>
          <div class="errorMsg" *ngIf="createTouched && !clinicalFileUploaded">
            Clinical information file is required.
          </div>
        </div>
      </div>



      <!--
    <div class="input">
      <label>Number of Omics Datasets</label>
      <label>{{numOmicsDataset}}</label>
      
      <select name="numOmicsDataset" [(ngModel)]="numOmicsDataset" (ngModelChange)="setNumOmics()" required>
          <option *ngFor="let N of omicsDatasetsAllowed" [value]="N">{{N}}</option>
      </select>
    
    </div>
    <div class="errorMsg" *ngIf="submitTouched && (selectedUploadType == '' || selectedUploadType == null)">
      Please select data type.
    </div>
-->

      <div class="each_data_container">
        <app-data-uploader [analysis_name]="analysis_name"
          (notifySuccessfullFileUpload)="handleFileUploadSuccess()">
        </app-data-uploader>
        <div class="server_response_msg_panel">
          <div class="serverMsg">
            {{serverResponseOnFileAction}}
          </div>
        </div>
      </div>

      <br>
      <br>

    </div>

    <div class="right_panel">
      <div class="upload_table_container">
        <table>
          <tr>
            <th width="8%">Display Name</th>
            <th width="18%">Filename</th>
            <th width="12%">Data Type</th>
            <th width="8%">Delimiter</th>
            <th width="30%">Metadata Column Information</th>
            <th width="8%">Edit</th>
            <th width="8%">Preview</th>
            <th width="8%">Delete</th>
          </tr>
          <ng-container *ngIf="uploadedFiles.length == 0">
            <tr>
              <td colspan="8">No files added yet</td>
            </tr>
          </ng-container>
          <tr *ngFor="let f of uploadedFiles; let i = index">
            <td width="8%">{{f.display_name}}</td>
            <td width="18%">{{f.filename}}</td>
            <td width="12%">{{getUploadType(f.omics_type)}}</td>
            <td width="8%">{{prepDelimiterForDisplay(f.delimiter)}}</td>
            <td width="30%">
              <b>Metadata Columns:</b>
              <div *ngFor="let mc of f.metadata_columns">&nbsp;{{mc}}</div>
              <br>
              <b>Linker(Gene) Column Mapping:</b> 
              <ng-container *ngIf="f.has_linker"><div>{{f.linker_colname}} &nbsp; &#8594; &nbsp; {{prepIdentifierForDisplay(f.linker_identifier_type)}}</div></ng-container>
              <br>
              <b>Molecular-level Specific Identifier(s):</b>
              <div *ngFor="let imc of f.identifier_metadata_columns">&nbsp;{{imc}}</div>
            </td>
            <td width="8%">
              <div>
                <button class="edit_button" id="btn-{{i}}" (click)="openMetadataMapDialog(i)"></button>
              </div>
            </td>
            <td width="8%">
              <button type="button" class="preview_button" (click)="togglePreview2(i)" id="btn-preview-{{i}}"></button>
              <!--<ng-container *ngIf="showClosedBook">
                <button type="button" class="close_preview_button" (click)="togglePreview2(i)" id="btn-{{i}}"></button>
              </ng-container>-->
            </td>
            <td width="8%">
              <button type="button" class="remove_button" (click)="removeObject(i)"></button>
            </td>
          </tr>
        </table>
      </div>
      <div class="divider"></div>
      <div class="errorMsg" *ngIf="createTouched && this.uploadedFiles.length == 0">
        At least one dataset is required.
      </div>
      <div class="errorMsg" *ngIf="createTouched && !validateIdentifierMappings()">
        Metadata information is insufficient for the dataset: {{missing_metadata_dataset}} <br>
        Either a linker column or a molecular-level specific identifier is required for each dataset. 
      </div>
      <br>
      <div class="divider"></div>
      <app-get-preview [analysis_name]="analysis_name" [previewTouched]="previewTouched" [dataset_spec]="filepreview_payload">
      </app-get-preview>

      <br><br>
      <div class="form_main_button_panel">
        <button type="button" class="reset_button" (click)="handleReset(); createAnalysisForm.reset()">Reset</button>
        <div class="divider"></div>
        <div class="divider"></div>
        <button type="button" class="create_button" (click)="handleCreate()">Create</button>        
      </div>

      <br><br>
      
      <div class="errorMsg" *ngIf="createTouched && this.serverResponseOnCreate && this.serverResponseOnCreate.status == 0">
        Create analysis failed due to the following error: <br>
        {{this.serverResponseOnCreate.message}}<br>
        {{this.serverResponseOnCreate.detailed_reason}}
      </div>
    </div>

  </form>
</div>