
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heatmap {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heatmap li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heatmap li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heatmap li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heatmap .text {
  position: relative;
  top: -3px;
}
.phenotype_tag {
  cursor: pointer;
}
.phenotype_tag:hover {
  fill: rgb(255,99,0);
  font-weight: bold;
}
.gene_tag {
  cursor: pointer;
  stroke-width: 0px;
}
.gene_tag:hover {
  fill: rgb(255,99,0);
  font-weight: bold;
}
.sample_tag {
  cursor: pointer;
}
.sample_tag:hover {
  fill: rgb(255,99,0);
  font-weight: bold;
}
.heatmap .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.settings_button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url('assets/img/Settings_Black.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
}

.settings_button:hover {
  background-image: url('assets/img/Settings_Orange.png');
}

.heatmap_data_title{
  text-transform: uppercase;
}