
<ng-container *ngIf="data && layout; else loading">

	<svg [attr.width]="layout.svg_width" [attr.height]="layout.svg_height">

		<text [attr.x]="layout.plot_title_x" 
			[attr.y]="layout.plot_title_y" 
			font-size="20" 
			text-anchor="middle" 
			font-family="Verdana" 
			class="heatmap_data_title">
		  {{data.title}}		  
		</text>
		  
		<ng-container *ngFor="let plabel of data.phenotype_labels; let p = index">
			<text [attr.x]="layout.phenotype_label_anchor_x[p]" 
				  [attr.y]="layout.phenotype_label_anchor_y" 
				  [style.font-size.px]="layout.phenotype_label_font_size" 
				  font-family="Verdana" 
				  text-anchor="start"
				  [attr.transform]="'rotate(-90 ' + layout.phenotype_label_anchor_x[p] + ' ' + layout.phenotype_label_anchor_y + ')'"
				  matTooltip="Click to Sort Samples by Phenotype"
				  class="phenotype_tag"
				  (click)="changeSortOrder(plabel)">
				{{plabel}}
			</text>
		</ng-container>

		<ng-container *ngFor="let tag of data.gene_tags; let g = index">
			<rect [attr.x]="layout.column_left_x[g]" 
				  [attr.y]="layout.genetag_anchor_y" 
				  [attr.width]="layout.cell_width_height" 
				  [attr.height]="layout.cell_width_height"
			 	  [style.fill]="'rgb(' + data.gene_tag_colors[tag][0] + ',' + data.gene_tag_colors[tag][1] + ',' + data.gene_tag_colors[tag][2] + ')'" />
		</ng-container>

		<ng-container *ngFor="let row of data.cell_bin_indices; let i = index">
			
			<text [attr.x]="layout.row_name_text_anchor_x" 
				  [attr.y]="layout.row_name_text_anchor_y[i]" 
				  [style.font-size.px]="layout.row_label_font_size" 
				  font-family="Verdana" 
				  text-anchor="start"
				  class="sample_tag">
				{{data.row_names[i]}}
			</text>

			<ng-container *ngFor="let ptype of layout.phenotype_tag_anchor_x; let p = index">
				<!--
				<rect [attr.x]="ptype" 
				  [attr.y]="layout.row_top_y[i]" 
				  [attr.width]="layout.cell_width_height" 
				  [attr.height]="layout.cell_width_height" 
				  [style.fill]="'rgb(' + data.phenotypes[i][p][0] + ',' + data.phenotypes[i][p][1] + ',' + data.phenotypes[i][p][2] + ')'"/>
				-->
				<circle [attr.cx]="ptype" 
					[attr.cy]="layout.phenotype_tag_anchor_y[i]" 
					[attr.r]="layout.cell_width_height/2.0-1" 
					[style.fill]="'rgb(' + data.phenotypes[i][p][0] + ',' + data.phenotypes[i][p][1] + ',' + data.phenotypes[i][p][2] + ')'" />

			</ng-container>
				
				<ng-container *ngFor="let cell of row; let j = index">
						
						<text [attr.x]="layout.column_header_text_anchor_x[j]" 
							  [attr.y]="layout.column_header_text_anchor_y" 
							  [style.font-size.px]="layout.column_label_font_size" 
							  text-anchor="start" 
							  font-family="Verdana" 
							  [attr.transform]="'rotate(-90 ' + layout.column_header_text_anchor_x[j] + ' ' + layout.column_header_text_anchor_y + ')'"
							  [matMenuTriggerFor]="genes_menu" [matMenuTriggerData]="{col_index: j}"
							  class="gene_tag">
							{{data.column_headers[j]}}
						</text>
				
						<rect [attr.x]="layout.column_left_x[j]" 
							  [attr.y]="layout.row_top_y[i]" 
							  [attr.width]="layout.cell_width_height" 
							  [attr.height]="layout.cell_width_height" 
							  stroke="black" stroke-width="0.1"
							  [style.fill]="'rgb(' + data.bin_colors[cell][0] + ',' + data.bin_colors[cell][1] + ',' + data.bin_colors[cell][2] + ')'"/>
				
				</ng-container>

		</ng-container>

		<ng-container *ngFor="let cbar_y of layout.colorbar_cell_y; let i = index; last as isLast">
			<ng-container *ngIf="isLast; else nonLastColorbars"> 
				<rect [attr.x]="layout.colorbar_cell_x" 
					  [attr.y]="cbar_y+10" 
				  	  [attr.width]="layout.colorbar_cell_width" 
				  	  [attr.height]="layout.cell_width_height" 
				  	  [style.fill]="'rgb(' + data.bin_colors[i][0] + ',' + data.bin_colors[i][1] + ',' + data.bin_colors[i][2] + ')'"/>
			</ng-container>
			<ng-template #nonLastColorbars> 
					<rect [attr.x]="layout.colorbar_cell_x" 
						  [attr.y]="cbar_y" 
					  	  [attr.width]="layout.colorbar_cell_width" 
					  	  [attr.height]="layout.colorbar_cell_height" 
					  	  [style.fill]="'rgb(' + data.bin_colors[i][0] + ',' + data.bin_colors[i][1] + ',' + data.bin_colors[i][2] + ')'"/>
			</ng-template>
		</ng-container>

		<ng-container *ngFor="let cbar_tick_y of layout.colorbar_tick_y; let i = index; last as isLast">
			<line [attr.x1]="layout.colorbar_tick_x1_x2[0]" 
				  [attr.y1]="cbar_tick_y" 
				  [attr.x2]="layout.colorbar_tick_x1_x2[1]" 
				  [attr.y2]="cbar_tick_y" 
				  style="stroke:rgb(0,0,0);stroke-width:1" />
			<text [attr.x]="layout.colorbar_tick_text_x" 
				  [attr.y]="cbar_tick_y" 
				  [style.font-size.px]="layout.column_label_font_size" 
				  text-anchor="start" 
				  dominant-baseline="middle"
				  font-family="Verdana" >
				{{data.colorbar_keys[i]}}
			</text>
		</ng-container>

		<line [attr.x1]="layout.colorbar_tick_x1_x2[0]" 
			  [attr.y1]="layout.missing_value_colorbar_tick_y" 
			  [attr.x2]="layout.colorbar_tick_x1_x2[1]" 
			  [attr.y2]="layout.missing_value_colorbar_tick_y" 
			  style="stroke:rgb(0,0,0);stroke-width:1" />
		<text [attr.x]="layout.colorbar_tick_text_x" 
			  [attr.y]="layout.missing_value_colorbar_tick_y" 
			  [style.font-size.px]="layout.column_label_font_size" 
			  text-anchor="start" 
			  dominant-baseline="middle"
			  font-family="Verdana" >
			  <tspan [attr.x]="layout.colorbar_tick_text_x" dy="0">Missing</tspan>
			  <tspan [attr.x]="layout.colorbar_tick_text_x" dy="1.2em">Value</tspan>
		</text>

		<ng-container *ngFor="let search_tag_line of layout.search_tag_lines_xxy; let i = index">
			<rect [attr.x]="layout.search_tag_background_rects[i][0]" 
				  [attr.y]="layout.search_tag_background_rects[i][1]" 
				  rx="5" ry="5" 
				  [attr.width]="layout.search_tag_background_rects[i][2]" 
				  [attr.height]="layout.search_tag_background_rects[i][3]" 
				  style="fill:rgb(240,245,240);opacity:1.0"/>
			<line [attr.x1]="search_tag_line[0]" 
				  [attr.y1]="search_tag_line[2]" 
				  [attr.x2]="search_tag_line[1]" 
				  [attr.y2]="search_tag_line[2]" 
				  style="stroke:rgb(34,139,34);stroke-width:1" />
				  <ng-container *ngFor="let tag of layout.search_tags_xy[i]; let j = index">
						<circle [attr.cx]="tag[0]" 
								[attr.cy]="tag[1]" 
								[attr.r]="layout.search_tag_radius-1" 
								fill="rgb(95,188,20)" 
								stroke="rgb(34,139,34)" stroke-width="1" />
						<ng-container *ngIf="j==0">
							<circle [attr.cx]="tag[0]" 
									[attr.cy]="tag[1]" 
									[attr.r]="(layout.search_tag_radius-1)/2.5" 
									fill="rgb(255,255,255)" />
						</ng-container>
				  </ng-container>
		</ng-container>

		<!--
		<ng-container *ngFor="let gtag of layout.genetag_anchor_y">
			<ng-container *ngFor="let x of layout.column_left_x">
			<rect [attr.x]="x" 
				  [attr.y]="gtag" 
				  [attr.width]="layout.cell_width_height" 
				  [attr.height]="layout.cell_width_height" 
				  [style.fill]="'rgb(' + data.gene_tags[i][0][0] + ',' + data.gene_tags[i][0][1] + ',' + data.gene_tags[i][0][2] + ')'"/>
			</ng-container>
		</ng-container>
		-->
		<!--
		<image class="settingsI" id='settingsImg' xlink:href="assets/img/Histogram-512.png" x="555" y="15" height="40px" width="40px" />
		
		<image class="settings_image" 
			id='settingsImg' 
			xlink:href="assets/img/settings.png" 
			[attr.x]="layout.row_name_text_anchor_x+20" 
			y="30" height="50px" width="50px" />
		-->
	</svg>

	<div class="settings_button" 
		[style.left.px]="layout.row_name_text_anchor_x+20" 
		matTooltip="Set heatmap parameters" 
		(click)="openSettingsDialog()"></div>

	<mat-menu #genes_menu="matMenu">
		<ng-template matMenuContent let-col_index="col_index">
			<button mat-menu-item [matMenuTriggerFor]="feature_list_menu" [matMenuTriggerData]="{col_id: col_index}">Add to List</button>
			<button mat-menu-item [matMenuTriggerFor]="feature_group_menu" [matMenuTriggerData]="{col_id: col_index}">Add Gene Group to List</button>
			<button mat-menu-item [matMenuTriggerFor]="neightbors_menu">Show Neighbors</button>
			<button mat-menu-item (click)="onContextMenuAction2(entrez)">Show Info</button>
			<button mat-menu-item (click)="onContextMenuAction2(entrez)">Hide From Current View</button>
			<button mat-menu-item (click)="onContextMenuAction2(entrez)">Show Aliases</button>
		</ng-template>
	</mat-menu>
	
	<mat-menu #feature_list_menu="matMenu">
		<ng-template matMenuContent let-col_id="col_id">
			<button mat-menu-item (click)="createListAndAdd(col_id,0)">New List</button>
			<button mat-menu-item *ngFor="let featlist of feature_list_names" (click)="addToList(col_id,featlist,0)">
				{{featlist}}
			</button>
		</ng-template>
	</mat-menu>
	
	<mat-menu #feature_group_menu="matMenu">
		<ng-template matMenuContent let-col_id="col_id">
			<button mat-menu-item (click)="createListAndAdd(col_id,1)">New List</button>
			<button mat-menu-item *ngFor="let featlist of feature_list_names" (click)="addToList(col_id,featlist,1)">
				{{featlist}}
			</button>
		</ng-template>
	</mat-menu>

	<mat-menu #neightbors_menu="matMenu">
		<button mat-menu-item (click)="onContextMenuAction2(entrez)">Protein-Protein Interaction</button>
		<button mat-menu-item (click)="onContextMenuAction2(entrez)">miRNA Targets</button>
		<button mat-menu-item (click)="onContextMenuAction2(entrez)">Transcription Factor Targets</button>
	</mat-menu>

	

</ng-container>
<ng-template #loading>Fetching Heatmap...</ng-template>
