button {
    background-color: #F8F8F8;
    padding: 2px 16px;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    color: #505050;
    text-transform: uppercase;
    border: 1px solid #505050;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: 'Verdana';
}


.plus_button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('/assets/img/plus512_silver_filled.png');
    background-size: 20px 20px;
}

.plus_button:hover {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('assets/img/plus512_orange_filled.png');
    background-size: 20px 20px;
}

.minus_button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('assets/img/minus512_green_filled.png');
    background-size: 20px 20px;
}


button:hover {
    border-color: rgb(255,99,23);
    color: rgb(255,99,0);
    background-color: #fbfbfb;
}

.select_block {
    text-align:left;
    border-radius: 7px; 
    border: 1px solid #CCCCCC; 
    padding: 5px 16px; 
    float: left;
    /*display: inline-block;*/
    background-color:#FDFDFD;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
}

.search_panel_closed {
    display: none;
}

.search_panel_open {
    position: absolute; 
    top: 0px; 
    height: 600px;
    left: 280px; 
    width: 440px; 
    padding-left: 10px; 
    /*
    padding-bottom: 10px; 
    */
    border: 1px solid black;
    display: block;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
    z-index: 1;
    background-color: rgba(250, 250, 250, 1.0);
}

.search_result_td {
    color: #3b3b3b;
    cursor: pointer;
    font-family: 'Verdana';
    font-size: 13px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_result_td_selected {
    color: #026b0b;
    cursor: pointer;
    font-family: 'Verdana';
    font-size: 13px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_result_tr {
    color: #3b3b3b;
}

.search_result_add {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}

tr:nth-child(odd) {background-color: #f2f2f2c2}

input[type=text] {
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;    
}